<div *ngIf="estrenada; then disponibilidad else proximamente" class="col-auto">
</div>

<ng-template #disponibilidad>
    <div *ngIf="stock != 0; then disponible else agotada">
    </div>
</ng-template>

<ng-template #disponible>
    <a [routerLink]="['/comprar/' + juego.id]" class="btn btn-success mt-3">COMPRAR JUEGO</a>
</ng-template>

<ng-template #agotada>
    <div class="alert alert-danger mt-3" role="alert">
        ¡AGOTADO!
    </div>
</ng-template>

<ng-template #proximamente>
    <h3 class="text-center">PRÓXIMAMENTE</h3>
    <p class="text-center">{{ fecha }}</p>
</ng-template>