<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4 align-content-center">
            <div class="row">
                <div class="col">
                    <img [src]=juego.img alt="" class="imagen img-fluid m-auto">
                </div>
            </div>
            <div class="row">
                <div class="col justify-content-center">
                    <app-boton-compra></app-boton-compra>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>{{ juego.titulo }}</h1>
                </div>
            </div>
            <div class="row justify-content-between text-center">
                <div class="col-6 col-md-3">
                    <h4>Año</h4>
                    <p>{{ juego.ano }}</p>
                </div>
                <div class="col-6 col-md-3">
                    <h4>Género</h4>
                    <p>{{ juego.genero }}</p>
                </div>
                <div class="col-12 col-md-3">
                    <h4>Idioma</h4>
                    <p>{{ juego.idioma }}</p>
                </div>
            </div>
            <div class="row justify-content-between text-center">
                <div class="col-12 col-md-3">
                    <h4>Desarrollador</h4>
                    <p class="text-justify">{{ juego.desarrollador }}</p>
                </div>
                <div class="col-6 col-md-3">
                    <h4>Editor</h4>
                    <p>{{ juego.editor }}</p>
                </div>
                <div class="col-6 col-md-3">
                    <h4>Soporte</h4>
                    <p>{{ juego.soporte }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3">
                            <h4>Jugadores</h4>
                        </div>
                        <div class="col-9">
                            <p>{{ juego.jugadores }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Sinapsis</h4>
                    <p>{{ juego.descripcion }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
