<div class="container-fluid ">
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let juego of listaJuegos">
            <div class="card h-100" style="width: 18rem;">
                <div class="m-auto">
                    <img [src]=juego.img class="card-img-top img-fluid mt-3" alt="..." [routerLink]="['vista-detalle/' + juego.id]">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{ juego.titulo }}</h5>
                    <p class="card-text">{{ juego.stock }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
